

@mixin name-font {
  font-family: $font-stack;
  font-weight: 700 !important;
  color: $black;
  font-size: 2rem;
  line-height: 1;
}

@mixin label-font {
  font-family: $font-stack;
  font-weight: 700 !important;
  color: $orange;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  line-height: 1;
}

@mixin data-font {
  font-family: $font-stack;
  font-weight: 100 !important;
  color: $black;
  font-size: 4rem;
  line-height: 1;
}

@mixin body-font {
  font-family: $font-stack;
  font-weight: 400 !important;
  color: $black;
  font-size: 1.6rem;
  line-height: 1.875;
}

@mixin button-font {
  font-family: $font-stack;
  font-weight: 700 !important;
  color: $white;
  font-size: 1.6rem;
  line-height: 1.875;
}

@mixin credit-font {
  font-family: $font-stack;
  font-weight: 700 !important;
  color: $lightblue;
  font-size: 1.2rem;
  line-height: 1.875;
}